/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

/* --------------------------------------- Global Styles ------------------------------------ */

h2 {
    color: #000;
    font-size: 38px;
    font-weight: 900;
}

/* Nav bar styles */
.navbar {
    padding: 24px;
}

.nav-active {
    color: #4F359B;
}

.mobile-line, .nav-bag-mobile {
    display: none;
}

#login-text, #name-text {
    color: #4F359B; 
    cursor: pointer;
}

footer {
    background-color: #000;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-size: 13px;
}

.btn.btn-primary {
    color: #FFF;
    background-color: #4F359B;
    margin-top: 5px;
}

.header-left-text {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 24px 24px 24px 150px;
}

.header-text {
    padding: 24px;
    text-align: center;
}

.btn {
    border-color: #4F359B;
    color: #4F359B;
    border-radius: 0;
}

.btn:hover, .btn-check:checked+.btn, .btn-check:active+.btn-outline-primary {
    background-color: #4F359B;
    border-color: #4F359B;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(79, 53, 155, 0.25);
}

.btn-danger {
    border: none;
    color: #FFF;
    margin-top: 24px;
}

.btn-danger:hover { 
    background-color: #000 
}

/* ---------- Animations ---------- */
/* Glow - Button Animation */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 12px #4F359B;
}

/* Popup modal */
.login-box, .create-box {
    text-align: center;
    padding: 24px;
}

#create-form-text-error, #login-form-text-error, #account-bal-error {
    color: red;
}

.login-box > form {
    margin-top: 24px;
}

.login-box > form > .form-group, .create-box > form > .form-group {
    margin-top: 24px;
    text-align: left;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.changePass-box > form > .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button, #create-button, .button-group > h6, #login-header-text  {
    margin: 0;
}

#createModalButton, #loginModalButton {
    color:#4F359B;
    cursor: pointer;
}

/* --------------------------------------- Index Page --------------------------------------- */

/* Main header section - Carousel */
.carousel {
    cursor: pointer;
}

.carousel-item {
    height: 75vh;
}

.carousel-item > a > img {
    position: relative;
    bottom: 15em;
}

.carousel-caption > h5 {
    text-align: left;
    font-size: 72px;
    font-weight: 900;
    width: 100%;
}

.carousel-caption > p {
    text-align: left;
    font-size: 24px;
    max-width: 20em;
}

.carousel-control-prev-icon {
    height: 3em;
    width: 1.5em;
    background-color: #999;
}

.carousel-control-next-icon {
    height: 3em;
    width: 1.5em;
    background-color: #999;
}

.carousel-feature-slide > img {
    position: relative;
    transform: rotate(350deg) scaleX(-1);
    left: 38%;
    max-width: 50vw;
}

.carousel-feature-slide > .carousel-caption {
    color: #000;
}

.carousel-feature-text {
    position: absolute;
    top: 20%;
    left: 11%;
}

.carousel-play-slide > .carousel-play-box > img {
    position: relative;
    left: 10%;
    bottom: 11em;
    max-width: 90%;
}

.carousel-play-text {
    position: absolute;
    color: #000;
    top: 10%;
    max-width: 10em;
}

/* Section styles */
.index-section {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.index-section > a {
    align-self: center;
    width: 200px;
}

.index-sneaker-cards {
    display: flex;
    padding: 24px 0 24px 0;
    overflow-x: scroll;
    margin-bottom: 24px;
}

.trending, .latest {
    display: flex;
    justify-content: center;
}

/* Individual displayed cards */
.card {
    height: 200px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
    border-radius: 0;
}

.card:hover {
    border: #4F359B solid 1px;
    box-shadow: inset 0 0 4px #4F359B;
    cursor: pointer;
}

.card > img {
    padding: 12px;
    max-width: 48%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------- Explore Page ------------------------------------- */

.explore {
    padding: 24px;
    text-align: center;
}

.explore > .btn-group {
    margin: 24px 0 24px 0;
}

.explore > .cat-group {
    width: 300px;
}

.explore > .sort-group {
    margin-left: 24px;
    width: 200px;
}

.searchBar {
    display: flex;
    justify-content: center;
}

#searchBar {
    border-radius: 0;
    width: 48em;
    border: 2px;
    border-style: none none solid none;
    border-color: #4F359B;
    font-style: italic;
}

#searchBar:focus + #searchBar, #searchBar:focus {
    outline: 0;
    box-shadow: 0 8px 0 0 rgba(79, 53, 155, 0.25);
}

.searchButton {
    padding: 6px 10px 6px 10px;
    margin-left: 12px;
}

.sneaker-cards {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.sneaker-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    border: 1px solid rgba(136, 136, 136, 0.5);
    padding: 24px;
}

.sneaker-card:hover {
    border: #4F359B solid 1px;
    box-shadow: inset 0 0 10px #4F359B;
}

.sneaker-card img {
    max-width: 85%;
}

.sneaker-title {
    color: #000;
    font-weight: 900;
    font-size: 21px;
}

.sneaker-colorway {
    color: #888;
}

.sneaker-price {
    color: #000;
    font-weight: 900;
    font-size: 24px;
}

.pagination-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group > button {
    width: 42px;
}

.input-group > input {
    text-align: center;
    max-width: 60px;
}

.input-group p {
    margin: 0 0 0 0;
    padding-left: 12px;
}

.back-to-top {
    display: flex;
    justify-content: center;
    padding: 0 42px 42px 42px;
}

/* --------------------------------------- Product Page ------------------------------------- */

.product {
    display: flex;
    height: 82.2%;
    padding: 38px;
}

.product-header {
    font-size: 42px;
    font-weight: 900;
    color: #999;
    position: relative;
    top: -40px;
    left: 12px;
    background-color: #FFF;
    padding: 12px;
}

.product-img {
    border: #999 solid 1px;
    width: 50%;
}

.product-img > img {
    margin-left: 5%;
    width: 88%;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.product-colorway, .product-release-date, .product-category {
    color: #888;
}

.product-options {
    display: flex;
    margin-top: 24px;
}

.product-size > .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 225px;
}

.product-size {
    margin-right: 48px;
}

.size > .btn {
    width: 60px;
    margin-bottom: -1px;
}

.product-qty {
    display: flex;
    flex-direction: column;
}

.product-qty > .input-group > input {
    text-align: center;
    border: #4F359B solid 1px;
    max-width: 100px;
}

.product-qty > .input-group > button {
    width: 40px;
}

.add-to-bag-box {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

#addToBag {
    width: 100%;
}

/* --------------------------------------- Game Page ------------------------------------- */

.games-header-text {
    padding: 1em 5em 0 5em;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-box {
    width: 30em;
    height: 30em;
    border: #000 solid 1px;
    margin-bottom: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}

/* Game header titles - before play */
.game-box > h2 {
    font-weight: 600;
    font-size: 32px;
}

/* Game header titles in modal */
.spin-text-box > h2, .flip-text-box > h2 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 34px;
}

.not-loggedin-text {
    color: red;
    font-weight: 700;
    margin-bottom: 1em;
    display: none;
}

#countdown-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: #4F359B solid 1px;
    flex-direction: column;
    font-size: 25px;
}

.countdown-text {
    font-size: 12px;
}

#countdown-flip, #countdown-spin {
    margin-top: 10px;
}

#spinNWinModal, #coinFlipModal {
    padding: 0;
}

.game-loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spin N Win Game */
.canvas-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spin-text-box, .flip-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#spin-text-error, #flip-text-error { 
    color: red; 
    display: none;
}

/* Coin Flip Game */
#coin {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    position: relative;
}

#coin div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    backface-visibility: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.coin-flip-button-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.coin-flip-button-box > button {
    width: 200px;
}

#heads-button, #tails-button {
    margin: 0;
}

.side-a { 
    z-index: 100;
    background-color: #4F359B; 
}

.side-b { 
    background-color: #3e3e3e; 
    transform: rotateY(-180deg);
}
  
#coin {
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
}
  
#coin.heads {
    animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
    animation: flipTails 3s ease-out forwards;
}
  
@keyframes flipHeads {
    from { transform: rotateY(0);}
    to { transform: rotateY(1800deg);}
}
@keyframes flipTails {
    from {transform: rotateY(0); }
    to {transform: rotateY(1980deg); }
}

/* --------------------------------------- Account Page ------------------------------------- */

.account { padding: 38px }

.account > section > h4 {
    color: #4F359B;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 900;
}

.account > section > h5 {
    color: #000000;
    font-size: 18px;
    font-weight: 900;
}

.account > section { margin-bottom: 48px }

.account > section > h3 {
    color: #888;
    font-size: 32px;
    margin: 0;
}

/* Daily Rewards */
#daily-collect-text, #topup-bal-text {
    display: none;
    color: #4a9440;
    font-weight: 500;
}

.daily-button-box {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.dailyButton {
    width: 80px;
    margin: 2px;
}

.dailyButton:disabled {
    color: #000000;
    opacity: 0.4;
}

/* Dashboard */
.chart-box {
    position: relative;
    height: 70vh;
    width: 100vw;
}

.chart-box {
    max-width: 100%;
}

.chart-loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Account settings section */
.account-settings {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #4F359B;
}

.account-settings > a {
    color: #4F359B;
    text-decoration: none;
}

.modal-content { border-radius: 0; }

.modal-title {
    color: #000;
    font-weight: 700;
}

.modal-body > section {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.modal-body > form > .form-group { margin-bottom: 12px; }

.modal-body > div > p { margin: 0; }

/* --------------------------------------- Contact Page ------------------------------------- */

#keep-touch-text {
    font-weight: 600;
    color: #4F359B;
    font-size: 22px;
    margin-left: 150px;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    height: 80vh;
}

/* Contact details section (purple) */
.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    background-color: #4F359B;
    margin-left: 150px;
    box-shadow: 0 0 3px 2px rgba(100, 100, 100, 0.5);
}

.contact-details > h5 {
    color: #FFFFFF;
    font-weight: 600;
    position: relative;
    bottom: 12%;
}

.social-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 45vh;
}

/* Social media links with icon box */
.social-links-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
    flex-wrap: wrap;
}

.social-icon {
    width: 60px;
    height: 60px;
}

.social-links-box > div > a {
    text-decoration: none;
    color: #FFF;
}

.social-links-box > div > a:hover { color: #cfcfcf; }

/* Contact form section (white) */
.contact-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 80vh;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

.contact-message > h5 {
    font-weight: 600;
    color: #000000;
    position: relative;
    bottom: 3.5%;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Contact Form */
.form-layer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.form-layer > input, .form-layer > select {
    border-style: none none solid none;
    width: 45%;
}

.form-layer > textarea {
    height: 9em;
    border-radius: 0;
    resize: none;
}

.form-layer > label {
    color: #6c757d;
    padding: 5px 0 0 11px;
}

#contact-button {
    margin-top: 12px;
    padding: 10px 40px 10px 40px;
}

/* --------------------------------------- Shopping Bag ------------------------------------- */

.shop-header { padding: 38px }

.table-head {
    background-color: #4F359B;
    color: #FFF;
}

.table-box, .shopping-form-box { 
    padding: 0 38px 38px 38px; 
    height: 100%;
}

.shopping-form-box > form > .form-group {
    margin-top: 30px;
}

.shopping-form-box > form > .form-group > textarea {
    resize: none;
    height: 12em;
}

.table-box > p {
    float: right;
    cursor: pointer;
    width: 5em;
    color: #FF0000;
}

#success-purchase-text {
    color: #08962c;
    text-align: center;
    margin-top: 24px;
}

.total-cost-header { padding: 38px 38px 0 38px }

.bag-button-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20em;
    margin-top: 30px;
}

#checkout-button-text {
    color: #FF0000;
}

.delete {
    cursor: pointer;
    color: #FF0000;
}

/* --------------------------------------- Responsive ------------------------------------- */
@media only screen and (max-width: 1300px) {
    .carousel-feature-slide img {
        transform: rotate(-25deg) scaleX(-1);
    }

}

@media only screen and (max-width: 1180px) {
    .carousel-play-slide > .carousel-play-box > img {
        bottom: 5em;
    }
}

@media only screen and (max-width: 1060px) {
    .carousel-feature-slide img {
        position: absolute;
        top: 2%;
        max-width: 50%;
    }
    /* Contact Styles */
    .contact-section {
        flex-direction: column;
        height: auto;
    }

    .contact-details {
        width: 100%;
        margin: 0;
        height: 40vh;
    }

    .contact-message {
        width: 100%;
        margin: 0;
        height: 75vh;
        padding: 0 10px 0 10px;
        margin-bottom: 19%;
    }

    .contact-message > h5{
        margin: 0
    }

    #keep-touch-text {
        margin-left: 40%;
    }

    #contact-button {
        margin-top: 12px;
    }

    .social-box {
        width: 70%;
        height: 10vh;
        flex-direction: row;
    }

    .social-links-box > div {
        margin-left: 14px;
    }
}

@media only screen and (max-width: 1025px) {
    .carousel {
        height: 50vh;
    }

    .carousel-play-slide {
        height: 50vh;
    }

    .carousel-feature-slide {
        height: 50vh;
    }

    .carousel-item > a > img {
        position: static;
        height: 50vh;
    }

    .carousel-caption {
        top: 40%;
    }

    .carousel-feature-text {
        top: 12%;
    }

    .carousel-play-text {
        top: 15%;
    }

    /* Contact Styles */
    .contact-details {
        height: 30vh;
    }

    #keep-touch-text {
        margin-left: 39%;
    }

    .social-box {
        width: 80%;
        height: 10vh;
        flex-direction: row;
    }

    /* ----- Product Styles ----- */
    .product {
        flex-direction: column;
        height: auto;
    }

    .product-img {
        width: 100%;
    }

    .product-info {
        margin: 24px 0 0 0;
    }

    .product-options {
        flex-direction: column;
    }

    .product-size {
        margin-right: 0px;
    }

    .product-size > .btn-group {
        width: auto;
    }

    .size > .btn {
        width: 30%;
    }

    .product-qty {
        margin-top: 24px;
    }

    .product-qty > .input-group > input {
        max-width: none;
    }
}

@media only screen and (max-width: 991px) { 
    /* ----- Global Nav bar ----- */
    .nav-link {
        padding-left: 0;
    }

    .nav-bag-mobile {
        display: contents;
        padding-top: 0;
    }
    
    .nav-bag-mobile-box {
        display: flex;
        align-items: center;
    }

    .mobile-line {
        display: contents;
    }

    .carousel-caption > h5 {
        font-size: 42px;
        width: auto;
    }
    
    .carousel-caption > p {
        font-size: 16px;
        max-width: none;
    }
} 

@media only screen and (max-width: 800px) {
    h2 {
        font-size: 24px;
    }

    .container-fluid {
        padding: 0;
    }

    /* ----- Global Styles ----- */
    #footer-text {
        text-align: center;
        max-width: 26em;
    }

    .carousel-caption {
        top: 35%;
    }

    .carousel-feature-text {
        top: 2%;
    }

    .carousel-feature-text p, .carousel-feature-text h5 {
        text-align: center;
    }

    .carousel-play-text {
        top: 2%;
        left: 35%;
        max-width: 15em;
    }

    .carousel-caption > h5 {
        text-align: center;
    }

    /* Carousel play slide */
    .index-sneaker-cards > .card {
        padding-top: 8px;
        flex-direction: column;
        height: 280px;
        min-width: 250px;
    }

    .index-sneaker-cards > .card > img {
        max-width: 200px;
    }

    .index-sneaker-cards > .card > .card-body {
        display: flex;
        flex-direction: column;
        padding: 0 12px 0 12px;
    }

    .sneaker-title, .sneaker-price  {
        text-align: center;
        font-size: 18px;
    }

    .sneaker-colorway {
        color: #888;
        text-align: center;
        font-size: 11px;
    }

    /* ----- Explore Styles ----- */
    .explore {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }

    .explore > .sort-group {
        margin-left: 0px;
    }

    .searchBar {
        width: 100px;
    }

    .sneaker-card img {
        margin-left: 12px;
    }
    
    .sneaker-card {
        min-width: 50%;
    }

    /* ----- Contact Styles ----- */
    .contact-details {
        height: 55vh;
    }

    #keep-touch-text {
        margin-left: 35%;
    }

    .social-box {
        flex-direction: column;
        width: 40%;
        height: 30vh;
    }

    /* ----- Account Styles ----- */
    .account, .shop-header { padding: 24px }

    .daily-button-box {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
    }
    
    .dailyButton {
        width: 105px;
    }

    .chart-box {
        height: 30vh;
        width: 135vw;
    }

    /* ----- Shopping Bag Styles ----- */
    .history-index, .history-size, .history-type {
        display: none;
    }

    .table-box, .shopping-form-box { 
        padding: 0 8px 12px 8px;
        font-size: 14px;
    }

    .total-cost-header {
        padding: 0 0 0 8px;
    }

    .bag-button-box {
        width: auto;
        margin-bottom: 24px;
    }
    /* ----- Shopping Bag Styles ----- */
    .games-header-text {
        padding: 1em 1em 0 1em;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-feature-slide > img {
        left: 20%;
        top: 20%;
    }

    .carousel-play-slide > .carousel-play-box > img {
        left: -8%;
        bottom: 0em;
    }

    .carousel-caption {
        top: 50%;
    }

    .carousel-caption h5 {
        font-size: 32px;
    }
    
    .carousel-feature-text {
        top: 2%;
    }

    .carousel-play-text {
        top: 5%;
    }

    /* Contact Styles */
    #keep-touch-text {
        margin-left: 37%;
    }
    
    .contact-message > h5 {
        margin-top: 24px;
    }

    .social-box {
        height: 30vh;
        width: 50%;
    }

    .contact-details {
        height: 50vh;
    }

    .contact-message {
        height: 70vh;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-play-slide > .carousel-play-box > img {
        bottom: -5em;
    }

    .carousel-caption {
        top: 35%;
    }

    .carousel-feature-text {
        top: 2%;
    }

    .carousel-play-text {
        top: 5%;
        left: 27%;
    }

    /* Contact Styles */
    #keep-touch-text {
        margin-left: 32%;
    }
}

@media only screen and (max-width: 415px) {
    .carousel-play-slide > .carousel-play-box > img {
        left: -10%;
        bottom: -7em;
    }

    .carousel-play-text {
        top: 2%;
        left: 20%;
    }

    /* Contact Styles */
    #keep-touch-text {
        margin-left: 25%;
    }
    
    .social-box {
        height: 35vh;
        width: 60%;
    }

    .contact-details {
        height: 65vh;
    }

    .contact-message {
        height: 70vh;
    }

    /* ----- Index Styles ----- */

    .sneaker-title, .sneaker-price {
        font-size: 14px;
    }

    /* ----- Explore Styles ----- */

    .explore > .cat-group {
        width: auto;
    }

    .explore > .sort-group {
        margin-left: 0px;
        width: auto;
    }

    #searchBar {
        width: 12em;
    }

    /* ----- Product Styles ----- */
    .product-title, .product-price, .product-header {
        font-size: 21px;
    }

    .product-colorway, .product-release-date, .product-category {
        font-size: 11px;
    }

    .product-header {
        top: -20px;
    }

    .product-size {
        margin-right: 1px;
    }

    .button-group h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 376px) {
    .carousel-caption {
        top: 32%;
        left: 10%;
    }

    .carousel-play-text {
        top: 2%;
        left: 18%;
    }

    .carousel-feature-text {
        top: 2%;
        left: 15%;
    }

    /* Contact Styles */
    #keep-touch-text {
        margin-left: 23%;
    }
    
    .contact-message > h5 {
        margin-top: 24px;
    }

    .social-box {
        height: 40vh;
        width: 70%;
    }

    .contact-details {
        height: 70vh;
    }

    .contact-message {
        height: 80vh;
    }
}


@media only screen and (max-width: 360px) {
    .carousel-caption {
        top: 40%;
        left: 15%;
    }

    .carousel-play-text {
        top: 2%;
        left: 16%;
    }

    .carousel-feature-text {
        top: 2%;
    }

    .carousel-caption > h5 {
        font-size: 24px;
    }
    
    .carousel-caption > p {
        font-size: 11px;
    }

    /* Contact Styles */
    #keep-touch-text {
        margin-left: 18%;
    }

    .social-box {
        height: 45vh;
    }

    .contact-details {
        height: 75vh;
    }

    .contact-message {
        height: 85vh;
    }

    .button-group h6 {
        font-size: 9.3px;
    }
}